@page
@model ShnoFeeh.Admin.Pages.Ads.paymentStatusModel
@{
    ViewData["Title"] = "Payment Status";
    Layout = "~/Pages/Admin/Shared/_Layout.cshtml";
}
<style>
    /*Payment Status*/
    svg {
        width: 100px;
        display: block;
        margin: 40px auto 0;
    }

    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
    }

        .path.circle {
            -webkit-animation: dash 0.9s ease-in-out;
            animation: dash 0.9s ease-in-out;
        }

        .path.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
            animation: dash 0.9s 0.35s ease-in-out forwards;
        }

        .path.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
            animation: dash-check 0.9s 0.35s ease-in-out forwards;
        }


    h1.error {
        color: #d06079;
    }
</style>
<div class="wrapper">
    <div class="confirmationouter mt5">
        <div class="confirmationinner">

            @if (Model.paymentId != null)
            {
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
                <h2>Payment Completed Successfully</h2>
                <p class="mt5">Thank You for your payment of</p>
                <h1>KWD @Model.totalAmount</h1>
                <div class="paystatus"><p>Your Payment Reference Number is -<span>@Model.paymentId</span></p></div>
                <a asp-page="/Admin/Dashboard" class="goto">Go to Home</a>
            }
            else
            {
                <svg version="1.1" style="max-width:100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                </svg>
                <h1 class="error">Your payment was unsuccessful.</h1>
                <p class="mt5">You can retry the payment from Home Page.</p>
                <a asp-page="/Admin/Dashboard" class="goto">Go to Home</a>
            }
        </div>
    </div>

</div> 