@page
@model ShnoFeeh.Admin.Pages.Account.forgot_passwordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Pages/Admin/Shared/_LoginLayout.cshtml";
}
<script>
    $(function () {
        $("#forgot-submit").click(function () {
            $("#lForm").submit();
        });
    });
</script>

    <div class="login-box">
        <div class="login-logo">
            <img src="~/dist/img/logo.png" alt="Shnofeeh Logo" class="loginlogo">
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                @if (!String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p id="ErrorMessage" class="" style="color:red;">@Model.ErrorMessage</p>
                }
                @if (!String.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <p id="SuccessMessage" class="" style="color:darkgreen;">@Model.SuccessMessage</p>
                }
                <form method="post" id="lForm">
                    <div class="input-group mb-3">
                        <input asp-for="UserEmailDto.email" type="email" class="form-control" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <input type="submit" class="btn btn-primary btn-block" value="Request new password" asp-page-handler="ForgetPassword" />
                            

                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1 text-center">
                    <a asp-page="/Admin/Account/login">Go Back to Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>