@page
@model ShnoFeehAdmin.Pages.Account.resetPasswordModel
@{
    ViewData["Title"] = "verifyEmail";
    Layout = "~/Pages/Admin/Shared/_Layout.cshtml";

}

<form asp-action="ResetPassword">

    <div class="container-fluid mthead">
        <div class="row contactfooter">
            <div class="col-md-5 padlr pb-5">
                <h2 class="mt-5">Reset Password</h2>
                <div class="redbdr2"></div>
                <p id="ErrorMessage" class="text-danger mt-4">@Model.ErrorMessage</p>
                <p id="SuccessMessage" class="text-success mt-4">@Model.SuccessMessage</p>
                <div class="col-md-12 pl-0">
                    <div class="form-group">
                        <span class="input input--hoshi">
                            <input asp-for="userResetPasswordDto.Password" class="input__field input__field--hoshi" type="password" id="Password" autocomplete="off" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                                <span class="input__label-content input__label-content--hoshi">Enter New Password</span>
                            </label>
                        </span>

                    </div>
                    <div class="form-group">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="hidden" id="code" />
                            <input asp-for="userResetPasswordDto.ConfirmPassword" class="input__field input__field--hoshi" type="password" id="ConfirmPassword" autocomplete="off" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                                <span class="input__label-content input__label-content--hoshi">Confirm New Password</span>
                            </label>
                        </span>
                    </div>
                </div>

                <input type="submit" class="btn btn-secondary d-block mt-5 w-50" value="Reset Password" asp-page-handler="ResetPassword" />

            </div>
            <div class="col-md-7 d-none d-sm-block">
                <img src="~/images/login.jpg" class="img-fluid3">
            </div>

        </div>
    </div>
</form>